<div class="row" ng-init="getAllPeople()">
    <div><h3>People search</h3></div>
    <input type="text" class="form-control" placeholder="Enter your search term" ng-model="searchPeople">
</div>
<div class="col-md-3" ng-repeat="person in people | filter:searchPeople">
    <figure>
        <img class="img-circle center-block" ng-src="{{person.picture}}" />
    </figure>
    <h3 class="list-group-item-heading text-center">{{person.firstName}}</h3>
</div>
